* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: url('../imgs/criancas.png') no-repeat center center fixed;
    background-size: 100% auto; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    backdrop-filter: blur(5px);
  }
  
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  nav a {
    margin-left: 10px; 
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 10px;
  }
  
  
  nav {
    display: flex;
    gap: 15px;
  }
  
  .logo-icon {
    width: 100px; 
    height: auto; /
  
  }
  
  .calendar-container {
    flex: 1;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    margin: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }