* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../imgs/criancas.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  backdrop-filter: blur(5px);
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 10px;
}

nav {
  display: flex;
  gap: 15px;
}

.logo-icon {
  width: 100px; 
  height: auto;
}

.turmas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.turma-box {
  background-color: #f1f1f1;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
}

.turma-box:hover {
  transform: scale(1.05);
}

.turma-box img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.turma-box h2 {
  font-size: 16px;
  color: #333;
}

.turma-detalhes-container {
  display: none;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alunos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.turma-detalhes-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.voltar-btn {
  background: #b22222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
