<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Instituto Cultural Olhando Por Nós</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pais.css') }}">
</head>
<body>

  <header>
    <div class="header-left">
      <a href="{{ url_for('login') }}">
        <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo Instituto" class="logo-icon">
      </a>
      
      <nav>
        <a href="{{ url_for('professor') }}">Área do Professor</a>
        <a href="{{ url_for('avisos') }}">Avisos</a>
      </nav>
    </div>
    <div class="header-center">
      <img src="{{ url_for('static', filename='imgs/titulo.png') }}" alt="Instituto Cultural Olhando Por Nós" class="instituto-image">
    </div>
    <div class="header-right">
      <nav>
        <a href="{{ url_for('calendario') }}">Calendário</a>
        <a href="{{ url_for('faleconosco') }}">Fale Conosco</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="calendario">
        <h2>Calendário</h2>
        <div class="calendario-grid">
          <div class="evento azul">
            Provas
            <p>Dia 24/04/2025</p>
          </div>
          <div class="evento roxo">
            Eventos
            <p>Dia 25/04/2025</p>
          </div>
          <div class="evento verde">
            Feriados
            <p>Dia 26/04/2025</p>
          </div>
        </div>
    </section>

    <section class="agenda">
      <h2>Agenda</h2>
      <div class="agenda-detalhes">
        <p>Data: 12/04/2025</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="botoes">
          <button>Assinar</button>
          <button>Lido</button>
        </div>
      </div>
    </section>
  </main>

  <script src="{{ url_for('static', filename='javascript/botao.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/ahora.js') }}"></script>
</body>
</html>
