<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Área do Professor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/telaprof.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header-left">
      <a href="{{ url_for('login') }}">
        <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo Instituto" class="logo-icon">
      </a>
      <nav>
        <a href="{{ url_for('professor') }}">Área do Professor</a>
        <a href="{{ url_for('avisos') }}">Avisos</a>
      </nav>
    </div>
    <div class="header-center">
      <img src="{{ url_for('static', filename='imgs/titulo.png') }}" alt="Instituto Cultural Olhando Por Nós" class="instituto-image">
    </div>
    <div class="header-right">
      <nav>
        <a href="{{ url_for('calendario') }}">Calendário</a>
        <a href="{{ url_for('faleconosco') }}">Fale Conosco</a>
      </nav>
    </div>
  </header>

  <main>
    <div class="turmas-container" id="turmas-grid">
      <div class="turma-box" data-turma="1">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 1">
        <h2>Turma 1</h2>
      </div>
      <div class="turma-box" data-turma="2">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 2">
        <h2>Turma 2</h2>
      </div>
      <div class="turma-box" data-turma="3">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 3">
        <h2>Turma 3</h2>
      </div>
      <div class="turma-box" data-turma="4">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 4">
        <h2>Turma 4</h2>
      </div>
      <div class="turma-box" data-turma="5">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 5">
        <h2>Turma 5</h2>
      </div>
      <div class="turma-box" data-turma="6">
        <img src="{{ url_for('static', filename='imgs/Turma.png') }}" alt="Imagem Turma 6">
        <h2>Turma 6</h2>
      </div>
    </div>

    <div id="dynamic-content" class="turma-detalhes-container" style="display:none;"></div>
  </main>

  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/ahora.js') }}"></script>
</body>
</html>
